<div *ngIf="beers$ | async; let beers; else: loading">
  <app-pagination [totalResults]="beers.length"></app-pagination>
  <!-- Empty state -->
  <p class="empty-state" *ngIf="beers.length == 0">No results found.</p>
  <!-- List of beers -->
  <div class="beers-wrapper">
    <!-- beer-wrapper is left as a <div> for now, however should be changed to an <a> when navigation to beer details etc is implemented -->
    <div *ngFor="let beer of beers$ | async" class="beer-wrapper">
      <div class="image-wrapper" aria-label="beer.name image">
        <img
          *ngIf="beer.image_url"
          alt="{{ beer.name }} image"
          src="{{ beer.image_url }}"
          height="200"
        />
        <img
          *ngIf="!beer.image_url"
          alt="{{ beer.name }} image"
          src="../assets/images/punkApi_beer.svg"
          height="200"
        />
      </div>
      <div class="details-wrapper">
        <p class="beer-name">{{ beer.name | uppercase }}</p>
        <span>{{ beer.tagline }}</span>
        <span><strong>ABV:</strong> {{ beer.abv }}%</span>
        <span><strong>First brew:</strong> {{ beer.first_brewed }}</span>
      </div>
    </div>
  </div>
  <app-pagination [totalResults]="beers.length"></app-pagination>
</div>
<!-- Show loading state -->
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
