@import "../globals/base_variables.scss";

.empty-state {
  padding: 20vh 0;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.beers-wrapper {
  margin: 0 auto;
  display: block;
  min-height: 400px;

  @media screen and (min-width: 420px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.details-wrapper {
  margin: 16px 0 8px 0;
  & > * {
    display: block;
    font-size: 12px;
    border-bottom: solid 1px $border;
    color: $font;
    padding: 2px 0;
  }
  & > :first-child {
    border-bottom: solid 1px $accent;
  }
  & :nth-child(2) {
    padding-top: 8px;
  }
  & .beer-name {
    font-family: "New Grotesk Square THREE _WEB", sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    max-width: 100%;
    margin: 0;
  }
}

img {
  border-radius: 4px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: opacity 0.1s ease-in-out;
}

.image-wrapper {
  min-height: 200px;
}

.beer-wrapper {
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
  margin: 12px 0;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
  @media screen and (min-width: 420px) {
    margin: 12px;
    max-width: 160px;
  }

  &:hover {
    cursor: pointer;
    background-color: $hover;
    img {
      opacity: 0.8;
    }
  }
}

.modal {
  position: fixed;
  height: 100%;
  background-color: $white;
  display: none;
  &.show {
    display: block;
  }
}
