<!-- <div class="loader">
  <div class="beer-loader-item">
    <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
      <g fill="none" fill-rule="evenodd">
        <path
          d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
          fill="#333"
        ></path>
        <path
          fill="#00AFDB"
          d="M20 440h180v340H20zM60 0h100v20H60z"
          class="logo__label"
        ></path>
      </g>
    </svg>
  </div>
  <div class="beer-loader-item">
    <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
      <g fill="none" fill-rule="evenodd">
        <path
          d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
          fill="#333"
        ></path>
        <path
          fill="#00AFDB"
          d="M20 440h180v340H20zM60 0h100v20H60z"
          class="logo__label"
        ></path>
      </g>
    </svg>
  </div>
  <div class="beer-loader-item">
    <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
      <g fill="none" fill-rule="evenodd">
        <path
          d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
          fill="#333"
        ></path>
        <path
          fill="#00AFDB"
          d="M20 440h180v340H20zM60 0h100v20H60z"
          class="logo__label"
        ></path>
      </g>
    </svg>
  </div>
  <div class="beer-loader-item">
    <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
      <g fill="none" fill-rule="evenodd">
        <path
          d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z"
          fill="#333"
        ></path>
        <path
          fill="#00AFDB"
          d="M20 440h180v340H20zM60 0h100v20H60z"
          class="logo__label"
        ></path>
      </g>
    </svg>
  </div>
</div> -->
<div *ngIf="beers$ | async; let beers">
  <app-pagination [totalResults]="beers.length"></app-pagination>
  <div class="beers-wrapper">
    <a
      routerLink="/details/{{ beer.id }}"
      *ngFor="let beer of beers$ | async"
      class="beer-wrapper"
    >
      <h3>{{ beer.name | uppercase }}</h3>
      <div class="image-wrapper">
        <img *ngIf="beer.image_url" src="{{ beer.image_url }}" height="200" />
      </div>
      <span class="abv">{{ beer.abv }}%</span>
      <div class="tagline">{{ beer.tagline }}</div>
      <!-- <div class="description">{{ beer.description }}</div> -->
      <a routerLink="/detail/{{ beer.id }}"> View details </a>
    </a>
  </div>
  <app-pagination [totalResults]="beers.length"></app-pagination>
</div>
