<div class="search-wrapper">
  <div class="search-component">
    <form (ngSubmit)="search()" autocomplete="off">
      <div class="search-input">
        <input
          #searchBox
          id="search-box"
          placeholder="Search beer name"
          (input)="setSearch(searchBox.value)"
        />
        <button class="search-button" type="submit">Search</button>
      </div>
      <ul *ngIf="matchedSearches.length > 0" class="search-result">
        <li *ngFor="let matched of matchedSearches">
          <a [routerLink]="" (click)="search(matched)">
            {{ matched }}
          </a>
        </li>
      </ul>
    </form>
    <div *ngIf="currentSearchTerm" class="filter-wrapper">
      <a class="filter-item" [routerLink]="" (click)="clearFilters()">{{
        currentSearchTerm
      }}</a>
      <a class="filter-clear" [routerLink]="" (click)="clearFilters()"
        >Clear filter</a
      >
    </div>
  </div>
</div>
